p {text-align:center;}
p.font1 {color: rgba(70,70,70,1);font-size: 13pt;margin-left: 3%;margin-right: 3%;text-align:left;}
p.font2 {color: rgba(1,133,87,1);font-size: 13pt;text-align:center;}
p.title {color: rgba(0,0,0,1);font-size: 16pt;text-align:center;}

img.img1 {width:100%;height:100%}
img.img2 {width:100%;height:100%}

table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11pt;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8pt;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}